.icones-buttons-start{
    width: 100%;
}

.icones-buttons-start button{
    width: 100%;
    font-family: 'Montserrat', sans-serif;;
    display: flex;
    font-size: 12px;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}